{% extends "./plantilla.html" %}

{% block title %} Edición de laboratorio {% endblock %}

{% block navbar_lab %} active {% endblock %}

{% block body %}
<br>
<div class="card mb-3">
    <div class="card-body">
        <h2>Edición del laboratorio {{clase.num_class}}</h2>
        <br>
        <form action="/updateClassroom/" method="POST"> {% csrf_token %}
            <div class="form-group mb-3">
                <label for="id_num_class">Número de laboratorio</label>
                <input type="text" id="id_num_class" name="id_num_class" value="{{clase.num_class}}" readonly
                    class="form-control" minlength="3">
            </div>
            <div class="form-group mb-3">
                <label for="id_location">Localización</label>
                <input type="text" id="id_location" name="id_location" value="{{clase.location}}" readonly
                    class="form-control">
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="id_so">Sistema operativo</label>
                    <select class="form-select" name="id_s_o" id="id_s_o" value="{{clase.s_o}}">
                        <option value="Windows" {{Windows_sel}}>Windows</option>
                        <option value="MacOS" {{MacOS_sel}}>MacOS</option>
                        <option value="Linux" {{Linux_sel}}>Linux</option>
                        <option value="Otro" {{Otro_sel}}>Otro</option>
                    </select>
                </div>
                <div class="col">
                    <label for="id_num_pc">Número de PCs</label>
                    <input type="text" id="id_num_pc" name="id_num_pc" value="{{clase.num_pc}}" class="form-control"
                        placeholder="Número de PC disponibles" min="1" value="30">
                </div>
                <div class="col">
                    <label for="id_capacity">Aforo</label>
                    <input type="text" id="id_capacity" name="id_capacity" value="{{clase.capacity}}"
                        class="form-control" placeholder="Aforo máximo de la sala">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="id_specialization">Especialización</label>
                    <input type="text" id="id_specialization" name="id_specialization" value="{{clase.specialization}}"
                        class="form-control" placeholder="Especialización de la sala. Ejemplo: Redes">
                </div>
                <div class="col">
                    <label for="id_specification">Especificación</label>
                    <input type="text" id="id_specification" name="id_specification" value="{{clase.specification}}"
                        class="form-control" placeholder="Especificación de la sala. Ejemplo: GPU, Arduino...">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block text-white"><i class="fa fa-floppy-o"></i>
                    Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}